@model HotelManagement.Core.Entities.Customer

@{
    ViewData["Title"] = "Customer By Id";
}

<div class="col-8">
    <h2>@Model.CName</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Customer Name:</td>
                <td>@Model.CName</td>
            </tr>
            <tr>
                <td>Room Number:</td>
                <td>@Model.RoomNo</td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td>@Model.Phone</td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Checkin:</td>
                <td>@Model.Checkin</td>
            </tr>
            <tr>
                <td>Booking Days:</td>
                <td>@Model.BookingDays</td>
            </tr>
        </tbody>
    </table>
</div>